<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Robustness Report for Vertical: {{ vertical }}</title>
        <style>{{ style }}</style>

    </head>
    <body>
        <h1>Robustness Report for Vertical: {{ vertical }}</h1>
        <h4>Report date: {{ date }}</h4>

        <section>
            {{ vertical_summary }}
        </section>

        <section>
            {{ vertical_vs_shop }}
        </section>

        <section>
            {{ vertical_detail }}
        </section>

    </body>
</html>

